html {
  background-color: #f5f5f5;
}

body {
  min-height: 100%;
}

.messages {
  border: 1px solid #ccc;
  height: 500px;
  border-radius: 5px;
  margin: 50px 0px 10px 0px;
  overflow-y: scroll;
}

.message {
  border-bottom: 1px solid #f5f5f5;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  display: inline-block;
  width: 98%;
}

.input-append.span12 {
  margin: 0 !important;
}

.input-append.span12 input {
  width: 93%;
}
/*body {
  max-width: 1024px;
}*/