@(message: String)

@main("Chatzênho") {
  <div class="row-fluid">
    <div id="messages" class="span12 messages" rows="20">

    </div>
    <div class="input-append span12">
      <input id="newmessage" type="text" placeholder="Digite a mensagem aqui...">
      <button class="btn" type="button">Enviar!</button>
    </div>
  </div>


  <script type="text/javascript">
    (function() {
      var lastMessageId = 0;

      var startPolling = function() {
          var poll = function () {
              $.ajax('poll/'+lastMessageId, {
                  timeout: 20000,
                  success: function(data) {
                      renderMessages(data.values);
                      setTimeout(poll, 100);
                  },

                  error: function(jqXHR, textStatus, errorThrown) {
                      setTimeout(poll, 1000);
                  }
              });
          }

          poll();
      }

      var renderMessages = function(messages) {
          var items = [];

          for(var i=0; i < messages.length; ++i) {
              var message = messages[i];


              items.push('<span class="message">' + message.message + '</span>');

              if (message.id > lastMessageId) {
                  lastMessageId = message.id;
              }
          }
          $('#messages').append(items.join(''));

          $('#messages').scrollTop($('#messages')[0].scrollHeight);
      }

      var sendMessage = function(msg) {
          $.ajax('sendmsg/' + msg, {
              type: 'PUT',
              success: function(data) {
              },
              error: function(jqXHR, textStatus, errorThrown) {
                  // sendMessage(msg);
              }
          });
      }

      var wrapperSendMessage = function() {
        sendMessage($('#newmessage').val());
        $('#newmessage').val('');

        return false;
      }

      $('#newmessage').keydown(function(event) {
        if(event.keyCode == '13') {
          wrapperSendMessage();
        }
      });
      $('#newmessage').next().click(wrapperSendMessage);

      startPolling();

    })();
  </script>
}
